.button {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: $additional-light-blue;
  border: 1px solid $additional-light-blue;
  border-radius: 44px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease;

  svg {
    transition: 0.3s ease;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
  }

  use {
    stroke: $absolute-white;
    stroke-width: 0.8;
    position: relative;

  }
  @include vp-768 {
    font-size: 14px;
  }


  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 34px;
    height: 34px;
    background-color: #316DC2;
    border-radius: 100%;
    right: 5px;
    transition: 0.3s ease;
    z-index: 0;

    @include vp-768 {
      width: 46px;
      height: 46px;
      right: 3px;
    }
  }



  &:hover {
    background-color: $additional-light-blue;
    color: $absolute-white;
  }

  &:hover svg {
    transform: rotate(45deg);
  }
  &:hover use {
    stroke: $additional-light-blue;
  }
  &:hover::after {
    background-color: $absolute-white;
  }

  &:focus {
    outline: none;
    background-color: transparent;
    color: $additional-light-blue;
  }

  &:focus svg {
    transform: rotate(45deg);
  }

  &:active {
    outline: none;
    color: rgba($absolute-white, .7);
    background-color: $additional-light-blue;
  }

  &:active use {
    stroke: rgba($additional-light-blue, .7);

  }

  &:active svg {
    transform: rotate(45deg);
  }

  &:active::after {
    background-color: $absolute-white;
  }

}


