/* здесь используйте глобальные переменные */
$absolute-white: #ffffff;
$absolute-black: #000000;
$primary: #484848;
$primary-dark-background: #F0EFE9;
$additional-light-blue: #316DC2;
$additional-dark-blue: #275699;
$error-color: #FF5E66;
$state-disabled: #a9afb7;


$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;


$primary-font: 'Manrope';
